<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
  <md-card class="no-pad" fxFlex="60%">
    <md-toolbar color="primary" class="toolbar-card">{{questionnaireTitle}}</md-toolbar>
    <md-card-content *ngIf="showQuestions">
      <form [formGroup]="questionsForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
        <div formArrayName="questions" >
          <div *ngFor="let q of questionsFormArray.controls; let i = index" [formGroupName]="i" >
            {{questions[i].question}}
            <md-input-container>
              <input mdInput formControlName="userResponse"/>
              <md-error *ngIf="q.get('userResponse').errors && q.get('userResponse').errors['required']">Write response</md-error>
              <md-error *ngIf="q.get('userResponse').errors && q.get('userResponse').errors['answer']">{{questions[i].response}}</md-error>
            </md-input-container>
          </div>
          <button md-raised-button color="primary" [disabled]="questionsForm.invalid || submitted" type="submit">Submit</button>
          <button md-raised-button color="accent" [disabled]="!submitted" type="button" (click)="nextQuestionnaire()" *ngIf="userInfo.isAdmin">Next</button>
        </div>
      </form>
    </md-card-content>
  </md-card>

  <div fxFlex="35%">
    <div fxLayout="column" fxFlex>
      <md-card class="no-pad" fxFlex>
        <md-toolbar color="primary" class="toolbar-card">Scoreboard</md-toolbar>
        <md-card-content>
          <table>
            <tr>
              <th>Player</th>
              <th>Points</th>
            </tr>
            <tr *ngFor="let p of players | async">
              <td>{{p.name}} <span *ngIf="p.isAdmin"> - Moderator</span></td>
              <td>{{p.points}}</td>
            </tr>
          </table>
        </md-card-content>
      </md-card>
      <md-card class="no-pad" fxFlex>
        <md-toolbar color="primary" class="toolbar-card">Chat</md-toolbar>
        <md-card-content>
          <form #chatForm="ngForm" (ngSubmit)="onSubmitChat()" novalidate autocomplete="off">
            <md-input-container id="chat-entry">
              <input mdInput [(ngModel)]="chatEntry" name="chatEntry" placeholder="Type here and press enter"/>
            </md-input-container>
          </form>
          <div class="scrollable section" ngui-scrollable>
            <div *ngFor="let m of chatMessages | async">
              {{m.$value}}
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
