/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-card {
  margin: 1em;
  text-align: center;
}

md-card-content {
  padding: 25px;
}

md-toolbar-row {
  justify-content: space-between;
}

input {
  text-align: center;
}

.no-pad {
  padding: 0 !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


@media (max-width: 700px) {
  md-card-content {
    padding: 25px 0;
  }

  md-input-container {
    width: 100px;
  }
}
