<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
  <md-card class="no-pad" fxFlex.gt-sm="60%">
    <md-toolbar color="primary" class="toolbar-card">Available rooms to play</md-toolbar>
    <md-card-content>
      <table>
        <tr>
          <th>Room name</th>
          <th>Players</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let r of rooms | async">
          <td>{{r.$key}}</td>
          <td>{{count(r)}}</td>
          <td>
            <button md-raised-button color="primary" (click)="openNameDialog(r)">Join</button>
          </td>
        </tr>
      </table>
    </md-card-content>
  </md-card>

  <div fxFlex="35%">
    <div fxLayout="column" fxFlex>
      <md-card class="no-pad" fxFlex>
        <md-toolbar color="primary" class="toolbar-card">Create new room</md-toolbar>
        <md-card-content>
          <form #newRoomForm="ngForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
            <div>
              Room's name:
              <md-input-container>
                <input mdInput required [(ngModel)]="roomName" name="roomName"/>
                <md-error>Write the room's name</md-error>
              </md-input-container>
            </div>
            <div>
              Your name:
              <md-input-container>
                <input mdInput required [(ngModel)]="username" name="username"/>
                <md-error>Write your name</md-error>
              </md-input-container>
            </div>
            <button md-raised-button color="primary" type="submit" [disabled]="!newRoomForm.form.valid || submitted">Create</button>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
